@font-face {
    font-family: 'Modern Sans';
    src: url('ModernSans.eot');
    src: url('ModernSans.eot?#iefix') format('embedded-opentype'),
        url('ModernSans.woff2') format('woff2'),
        url('ModernSans.woff') format('woff'),
        url('ModernSans.ttf') format('truetype'),
        url('ModernSans.svg#ModernSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'love beard';
    src: url('lovebeard.eot');
    src: url('lovebeard.eot?#iefix') format('embedded-opentype'),
        url('lovebeard.woff2') format('woff2'),
        url('lovebeard.woff') format('woff'),
        url('lovebeard.ttf') format('truetype'),
        url('lovebeard.svg#lovebeard') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'love beard';
    src: url('lovebeard_1.eot');
    src: url('lovebeard_1.eot?#iefix') format('embedded-opentype'),
        url('lovebeard_1.woff2') format('woff2'),
        url('lovebeard_1.woff') format('woff'),
        url('lovebeard_1.ttf') format('truetype'),
        url('lovebeard_1.svg#lovebeard') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Modern Sans';
    src: url('ModernSansLight.eot');
    src: url('ModernSansLight.eot?#iefix') format('embedded-opentype'),
        url('ModernSansLight.woff2') format('woff2'),
        url('ModernSansLight.woff') format('woff'),
        url('ModernSansLight.ttf') format('truetype'),
        url('ModernSansLight.svg#ModernSansLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

