extends layouts/mainLayout.pug
block content 
    .clearfix
        main.maincontent(style='margin-top: 131px;')
            section.loginsec
                .container
                    .row.justify-content-center
                        .col-12.col-md-7
                            h2.card-title.mb-4 Forgot Password
                    .card.card-signin
            .card-body
                form.form-signin.row
                    .form-group.mb-4.col-lg-12
                        label Enter your email address
                        input.form-control(type='email')
                    .form-group.col-lg-12
                        button.btn.btn-lg.btnprimary.rounded-50.btn-block.text-uppercase.text-white(type='submit') Recover Password
