<!DOCTYPE html>
<html class="no-touch">
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Titan Travel</title>

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Carousel CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet">

    <!-- slider css -->
    <link href="css/main-slider.css" rel="stylesheet" />

    <!-- fullpage css -->
    <link rel='stylesheet' href='css/fullpage.css'>
    	
    <!-- Main Css -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- responsive Css -->
    <link href="css/responsive.css" rel="stylesheet" />

    <!-- icon csss -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- header -->
    <header class="main-header py-3 py-md-0 header-dark fixed-top">
        <div class="container">
            <div class="top-bar">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <a class="navbar-brand mr-0 d-lg-none d-block" href="index.html"><img src="images/f-logo.png" alt="" class="img-fluid" /></a>
                    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars text-white"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto align-items-lg-center">
                            <li class="nav-item px-3"><a href="#" class="nav-link active text-white">Home</a></li>
                            <li class="nav-item px-3"><a href="#" class="nav-link text-white">About Us</a></li>
                            <li class="nav-item px-3"><a href="#" class="nav-link text-white">Packages</a></li>
                            <li class="nav-item px-3"><a href="#" class="nav-link text-white">gtc</a></li>
                            <li class="nav-item px-3 d-lg-block d-none"><a class="navbar-brand mr-0" href="index.html"><img src="images/logo-icon.png" alt="" class="img-fluid" /></a></li>
                            <li class="nav-item px-3"><a href="#" class="nav-link text-white">Contact Us</a></li>
                            <li class="nav-item px-3"><a href="#" class="nav-link text-white">How it works</a></li>
                            <li class="nav-item px-3"><a href="#" class="nav-link text-white">Login</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- End header -->

    <div class="clearfix"></div>
    <main class="maincontent" style="margin-top: 131px;">
        <section class="loginsec">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 text-center  mb-5">
                        <h3 class="text-uppercase font-weight-bold position-relative heading">
                            <span class="bg-white mx-auto">Our Packages</span>
                        </h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="packege-block p-lg-4 p-2">
                            <div class="clip-path-img">
                                <img src="images/owl-3.jpg" class="img-fluid">
                            </div>
                            <h4 class="text-uppercase">Mauritius TOUR</h4>
                            <p>There are many tvariations of passages of Lorem</p>
                            <div class="read-more-btn">
                               <a href="#" class="text-white">Read <br><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="packege-block p-lg-4 p-2">
                            <div class="clip-path-img">
                                <img src="images/owl-3.jpg" class="img-fluid">
                            </div>
                            <h4 class="text-uppercase">Europe TOUR</h4>
                            <p>There are many tvariations of passages of Lorem</p>
                            <div class="read-more-btn">
                               <a href="#" class="text-white">Read <br><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="packege-block p-lg-4 p-2">
                            <div class="clip-path-img">
                                <img src="images/owl-3.jpg" class="img-fluid">
                            </div>
                            <h4 class="text-uppercase">Darjeeling TOUR</h4>
                            <p>There are many tvariations of passages of Lorem</p>
                            <div class="read-more-btn">
                               <a href="#" class="text-white">Read <br><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="packege-block p-lg-4 p-2">
                            <div class="clip-path-img">
                                <img src="images/owl-3.jpg" class="img-fluid">
                            </div>
                            <h4 class="text-uppercase">Mauritius TOUR</h4>
                            <p>There are many tvariations of passages of Lorem</p>
                            <div class="read-more-btn">
                               <a href="#" class="text-white">Read <br><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="packege-block p-lg-4 p-2">
                            <div class="clip-path-img">
                                <img src="images/owl-3.jpg" class="img-fluid">
                            </div>
                            <h4 class="text-uppercase">Europe TOUR</h4>
                            <p>There are many tvariations of passages of Lorem</p>
                            <div class="read-more-btn">
                               <a href="#" class="text-white">Read <br><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="packege-block p-lg-4 p-2">
                            <div class="clip-path-img">
                                <img src="images/owl-3.jpg" class="img-fluid">
                            </div>
                            <h4 class="text-uppercase">Darjeeling TOUR</h4>
                            <p>There are many tvariations of passages of Lorem</p>
                            <div class="read-more-btn">
                               <a href="#" class="text-white">Read <br><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="packege-block p-lg-4 p-2">
                            <div class="clip-path-img">
                                <img src="images/owl-3.jpg" class="img-fluid">
                            </div>
                            <h4 class="text-uppercase">Mauritius TOUR</h4>
                            <p>There are many tvariations of passages of Lorem</p>
                            <div class="read-more-btn">
                               <a href="#" class="text-white">Read <br><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="packege-block p-lg-4 p-2">
                            <div class="clip-path-img">
                                <img src="images/owl-3.jpg" class="img-fluid">
                            </div>
                            <h4 class="text-uppercase">Europe TOUR</h4>
                            <p>There are many tvariations of passages of Lorem</p>
                            <div class="read-more-btn">
                               <a href="#" class="text-white">Read <br><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="packege-block p-lg-4 p-2">
                            <div class="clip-path-img">
                                <img src="images/owl-3.jpg" class="img-fluid">
                            </div>
                            <h4 class="text-uppercase">Darjeeling TOUR</h4>
                            <p>There are many tvariations of passages of Lorem</p>
                            <div class="read-more-btn">
                               <a href="#" class="text-white">Read <br><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <nav>
                            <ul class="pagination justify-content-center mb-0 mt-5">
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <div class="jet-listing-grid__item section">
        <footer class="footer position-relative" style="background-image: url(images/footer-bg.jpg);">
            <div class="footer-cloud"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="about-travel">
                            <h5 class="font-weight-bold text-uppercase">ABOUT US</h5>
                            <p class="text-white py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore magna aliqua. Ut aliquip ex ea commodo consequat. psum dolor sit amet, consectetur</p>
                            <a href="index.html"><img src="images/f-logo.png" class="img-fluid"></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="important-links">
                            <h5 class="font-weight-bold text-uppercase">IMPORTANT LINKS</h5>
                            <div class="row py-3">
                                <div class="col-12 col-sm-6 col-lg-6">
                                    <ul class="list-inline">
                                        <li class="list-inline-block-item"><a href="#" class="text-white text-uppercase">home</a></li>
                                        <li class="list-inline-block-item"><a href="#" class="text-white text-uppercase">about us</a></li>
                                        <li class="list-inline-block-item"><a href="#" class="text-white text-uppercase">terms & conditions</a></li>
                                        <li class="list-inline-block-item"><a href="#" class="text-white text-uppercase">privacy policy</a></li>
                                        <li class="list-inline-block-item"><a href="#" class="text-white text-uppercase">contact us</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-6">
                                    <ul class="list-inline">
                                        <li class="list-inline-block-item"><a href="#" class="text-white text-uppercase">login</a></li>
                                        <li class="list-inline-block-item"><a href="#" class="text-white text-uppercase">how it works</a></li>
                                        <li class="list-inline-block-item"><a href="#" class="text-white text-uppercase">packages</a></li>
                                        <li class="list-inline-block-item"><a href="#" class="text-white text-uppercase">register</a></li>
                                        <li class="list-inline-block-item"><a href="#" class="text-white text-uppercase">gtc</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="contact-details">
                            <h5 class="font-weight-bold text-uppercase">Contact us</h5>
                            <ul class="list-inline py-3">
                                <li class="list-inline-block-item position-relative">
                                    <h6 class="text-uppercase text-white font-weight-bold">Address</h6>
                                    <p class="text-white pb-2">63 Birch Street Granada Hills, CA 91344</p>
                                </li>
                                <li class="list-inline-block-item position-relative">
                                    <h6 class="text-uppercase text-white font-weight-bold">call us</h6>
                                    <p class="pb-2"><a href="tel:9887XXXXXX" class="text-white">+91-9887XXXXXX</a></p>
                                </li>
                                <li class="list-inline-block-item position-relative">
                                    <h6 class="text-uppercase text-white font-weight-bold">email us</h6>
                                    <p class="pb-2"><a href="mailto:yourwebsite@webine.com" class="text-white">yourwebsite@webine.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <p class="text-uppercase copyright">© Copyright 2019 TITANTRAVEL - All Right Reserved. </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- footer end -->
    
    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>